<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Builder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script src="../public/scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to ProBuilder</h1>
        <p>The hub for your projects in motion</p>
      </div>
<!-- start project from       -->
      <form class="form-inline" id="newProjectForm">
        <div class="form-group">
          <label for="title">Owner</label>
          <input type="text" class="form-control" name="owner" placeholder="Don, Bob">
        </div>
        <div class="form-group">
          <label for="title">Lead Journeyman</label>
          <input type="text" class="form-control" name="lead" placeholder="Journeyman name">
        </div>
        <div class="form-group">
          <label for="title">Description</label>
          <input type="text" class="form-control" name="desc" placeholder="Short description">
        </div>
        <div class="form-group">
          <label for="title">Project Picture</label>
          <input type="text" class="form-control" name="image" placeholder="Image Url (optional)">
        </div>
        <button type="submit" class="btn btn-default">Create Project</button>
      </form>
<!-- end project form -->
    </div>
  </body>
</html>
