<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Builder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script src="/scripts/app.js"></script>
  </head>
  <body class="background">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-1">
            <h1>Welcome to ProBuilder</h1>
            <p>The hub for your projects in motion</p>
          </div>

<!-- start project form -->

          <div class="col-xs-offset-1 col-xs-5">
            <form class="form-inline" id="newProjectForm">
              <p>
                <div class="form-group">
                  <input type="text" class="form-control" name="projectName" placeholder="Project Name">
                </div>
              </p>
              <p>
                <div class="form-group">
                  <input type="text" class="form-control" name="owner" placeholder="Project Owner">
                </div>
              </p>
              <p>
                <div class="form-group">
                  <input type="text" class="form-control" name="lead" placeholder="Lead Journeyman">
                </div>
              </p>
              <p>
                <div class="form-group">
                  <input type="text" class="form-control" name="desc" placeholder="Short description">
                </div>
              </p>
              <p>
                <div class="form-group">
                  <input type="text" class="form-control" name="image" placeholder="Image Url (optional)">
                </div>
              </p>
              <p>
                <div class="form-group">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-briefcase"></span> Create Project</button>
                </div>
              </p>
            </form>
          </div>
        </div>
      </div>
<!-- end project form -->
      <div class="test">

      </div>
    </div>
<!-- start project section -->
<script id='projectTemplate' type="text/x-handlebars-template">
  <div id={{_id}} class="col-xs-12 col-sm-6">
    <div style="
        margin: 12px;
        border-radius: 30px;
        background:radial-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 1.0)),
        url({{image}});">
      <div class="padding">
          <h2 class="embiggen">
            {{projectName}}
          </h2>
        <p>
          Creator: {{owner}}
        </p>
        <p>
          Lead: {{lead}}
        </p>
        <p>
          {{desc}}
        </p>
        <p>
          <div class="form-group">
            <button type="button" id="projectDelete" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}><span class="glyphicon glyphicon-trash"></span> Delete Project</button>
          </div>
        </p>
        <form class="form-inline" id="newMemberForm" data-id={{_id}}>
          <p>
            <div class="form-group">
              <input type="text" class="form-control" name="memberName" placeholder="Member Name">
            </div>
          </p>
          <p>
            <div class="form-group">
              <input type="text" class="form-control" name="task" placeholder="Member Task">
            </div>
          </p>
          <p>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Create Member</button>
            </div>
          </p>
        </form>
        <p>
          {{#each members}}
              <div id={{_id}}>
                <hr>
                <form class="" id="updateMemberForm" data-member-id={{_id}} data-project-id={{../_id}}>
                <p>
                  <p>
                      Member: {{memberName}}
                    <div class="form-group">
                      Task::::: {{task}}
                    </div>
                      <div class="">
                        <input type="text" class="form-control " name="task" value="{{task}}" placeholder="Member Task">
                        <button type="submit" class="btn btn-info" data-member-id={{_id}} data-project-id={{../_id}}><span class="glyphicon glyphicon-pencil"></span> Save New Task</button>
                      </div>
                  </p>
                  <div class="form-group show">
                    <button id="{{_id}}" type="button" class="btn btn-info" data-member-id={{_id}} data-project-id={{../_id}}><span class="glyphicon glyphicon-pencil"></span> Update Task</button>
                  </div>
                  <div class="form-group">
                    <button type="button" name="button" class="deleteBtn memberDelete btn btn-danger" data-member-id={{_id}} data-project-id={{../_id}}><span class="glyphicon glyphicon-trash"></span> Delete Member</button>
                  </div>
                </p>
              </form>
              </div>
          {{/each}}
        </p>
        </div>
      </div>
    </div>
  </script>
  <div class="container">
    <div id='projectTarget' class="wrap row">
      <!--handlebars go here-->
    </div>
  </div>

  </body>
</html>
