<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Builder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to ProBuilder</h1>
        <p>The hub for your projects in motion</p>
      </div>
<!-- start project from       -->
      <form class="form-inline" id="newProjectForm">
        <div class="form-group">
          <label for="title">Project Name</label>
          <input type="text" class="form-control" name="projectName" placeholder="Project Name">
        </div>
        <div class="form-group">
          <label for="title">Owner</label>
          <input type="text" class="form-control" name="owner" placeholder="Don, Bob">
        </div>
        <div class="form-group">
          <label for="title">Lead Journeyman</label>
          <input type="text" class="form-control" name="lead" placeholder="Journeyman name">
        </div>
        <div class="form-group">
          <label for="title">Description</label>
          <input type="text" class="form-control" name="desc" placeholder="Short description">
        </div>
        <div class="form-group">
          <label for="title">Project Picture</label>
          <input type="text" class="form-control" name="image" placeholder="Image Url (optional)">
        </div>
        <button type="submit" class="btn btn-default">Create Project</button>
      </form>
<!-- end project form -->
      <div class="test">

      </div>
    </div>
<!-- start project section -->
<script id='projectTemplate' type="text/x-handlebars-template">
  <div id={{_id}}>
    <hr>
    <p>
      -{{projectName}}
      -{{owner}}
      -{{lead}}
      <image width="50" height="50" src="{{image}}" frameborder="0">
        <!--  <iframe width="200" height="200" src="{{link}}" frameborder="0"></iframe>
        <br> -->
        <button type="button" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}>Delete Project</button>
      </p>
      <form class="form-inline" id="newMemberForm" data-id={{_id}}>
        <div class="form-group">
          <input type="text" class="form-control" name="memberName" placeholder="Member Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="task" placeholder="Member Task">
        </div>
        <button type="submit" class="btn btn-primary">Add Member</button>
      </form>
      <p>
        <div id='a{{_id}}'>

          {{#each members}}
          <p>
            <form class="form-inline" id="newMemberForm" data-id={{_id}}>
            {{memberName}}
            <button type="button" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}>Delete Member</button>
              <div class="form-group">
                <input type="text" class="form-control" name="task" value="{{task}}" placeholder="Member Task" readonly>
              </div>
              <button type="submit" class="btn btn-info">Update Task</button>
            </form>
          </p>
          {{/each}}

        </div>
      </p>
    </div>
  </script>
    <section class="container">
      <div>
        <div id='projectTarget'>
        </div>
      </div>
    </section>
<!-- end project section -->
  </body>
</html>
