.jumbotron {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(/images/project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rbga(0, 0, 0, 0);
  color: #EEE;

}
.wrap{
  display: flex;
  flex-wrap: wrap;
}
.padding{
  padding: 20px;
}
.background{
  background-color: maroon;
}
.embiggen{
  text-align: center;
}
.container{
  margin: atuo 0;
}
